<p-inputNumber
  [(ngModel)]="numberInput"
  mode="decimal"
  inputId="withoutgrouping"
  [useGrouping]="false"
  placeholder="Only numbers"
>
</p-inputNumber>

<p-calendar
  [(ngModel)]="dateInput"
  [showIcon]="true"
  inputId="multiple"
  selectionMode="multiple"
  [maxDateCount]="5"
  placeholder="Select Days"
></p-calendar>
<p-dropdown
  [options]="items"
  [(ngModel)]="dropdownInput"
  placeholder="Select Item"
></p-dropdown>

<input
  type="text"
  pInputText
  pKeyFilter="alpha"
  placeholder="Only letters"
/>
