<p-steps
  [model]="steps"
  [(activeIndex)]="activeIndex"
  [readonly]="true"
></p-steps>
<ng-container *ngIf="activeIndex === 0">
  <app-uploader></app-uploader>
</ng-container>

<ng-container *ngIf="activeIndex === 1">
  <app-form></app-form>
</ng-container>

<ng-container *ngIf="activeIndex === 2">
  <app-user-table></app-user-table>
</ng-container>

<ng-container *ngIf="activeIndex === 3">
  <app-summery></app-summery>
</ng-container>

<div class="container">
  <button
    pButton
    type="button"
    label="Previous"
    (click)="changeSteps(1)"
    [disabled]="activeIndex <= 0"
  ></button>

  <button
    pButton
    type="button"
    label="Next"
    (click)="changeSteps(2)"
    [disabled]="activeIndex >= 3"
  ></button>
</div>
